---
Checks:          'readability-*,performance-*,-readability-named-parameter,bugprone-*,cppcoreguidelines-*,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,modernize-*,-modernize-use-trailing-return-type'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
CheckOptions:
  - key:             readability-implicit-bool-conversion.AllowPointerConditions
    value:           '1'
...
