*.o
*.out
*.pc
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

build/
bin/
doc/html/
doc/doxy/*.md
doc/doxy/*.original
doc/doxy/dot/
doc/doxy/script.sed
googletest-download/
googletest-src/
gsl-download/
gsl-src/
include/gsl/
include/proto/
wiki/
