*~
*.fasl
*.o
*.out
*.pc
out.gtir
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build/
build-doc/
bin/
doc/html/
googletest-download/
googletest-src/
gsl-download/
gsl-src/
include/gsl/
include/proto/
wiki/

scratch.lisp
